.checkout-wrapper {
    width: 85%;
    margin-left: 15%;
    margin-top: 148px;
}

.checkout-divider {
    display: flex;
}

.checkout-left {
    width: 60%;
    height: 100%;

}

.checkout-right {
    width: 40%;
    height: 100%;

}

.customer-data-container {
    width: 80%;
    margin: 0 auto;
}

.customers-header {
    color: white;
    font-weight: 400;
    font-size: 48px;
}

.customerName {
    color: rgb(129, 130, 134);

}

label {
    color: rgb(129, 130, 134);
    margin-bottom: 8px;
    font-size: 14px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgb(129, 130, 134);
    border-radius: 0px;
    outline: none;
    /* Remove default outline */
    font-family: 'PTSerif-Regular';
    background-color: black;
    color: white;
    margin-top: 12px;
}

.input-container input:focus {
    border-radius: 0;
    /* Set border radius to 0 on focus */
}

.input-row {
    display: flex;
    justify-content: space-between;

}

.input-container2 {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.input-container2 input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgb(129, 130, 134);
    border-radius: 0px;
    outline: none;
    /* Remove default outline */
    font-family: 'PTSerif-Regular';
    background-color: black;
    color: white;
    margin-top: 12px;
}

.custom-wrapper1 {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}


.custom-wrapper2 {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.label-wrapper2 {
    width: 95%;
}

.country-div {
    width: 100%;
    margin-bottom: 12px;
}

.country-div{
    display: flex;
    flex-direction: column;
}

.drop-country{
    height: 40px;
    background-color: black;
    color: white;
    font-family: 'PTSerif-Regular';

}

.drop-country input:focus {
    border-radius: 0;
    /* Set border radius to 0 on focus */
}

.error-country{
    color: white;
    font-family: 'PTSerif-Regular';
    font-size: 24px;
}

.vertical-divider{
    width: 1px;
    background-color: rgb(129, 130, 134);
}

.narocilo-wrapper{
    width: 80%;
    margin: 0 auto;
}

.header2{
    font-size: 32px;
    margin-top: 50px;
}

.dostava-paragraph{
    color: rgb(129, 130, 134);
    font-family: 'PTSerif-Regular';
    font-size: 20px;
    margin-top: 48px;
}

.dostava-option{
    width: 100%;
    height: 80px;
    background-color: black;
    border: 1px solid white;
    border-radius: 0px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    transition: height 0.3s ease;
}



.dostava-icon-wrapper{
    width: 40px;
    height: 40px;
}

.dostava-icon{
    width: 100%;
}

#dostavaOption1{
    width: 60px;
    margin: 0;
}

#dostavaOption2{
    width: 60px;
    margin: 0;
}

.dostava-option-paragraph{
    color: rgb(129, 130, 134);
    font-family: 'PTSerif-Regular';
    font-size: 14px;
    margin-left: 20px;
}

.delivery-cost{
    color: #998067;
    font-family: 'PTSerif-Regular';
    font-size: 20px;
    margin-left: 4px;
}

.checkout-items-column{
    margin-top: 32px;
}

.checkout-items-row{
    display: flex;
    margin-bottom: 32px;
}

.checkout-items-image-wrapper{
    width: 64px;
    height: 64px;
}

.the-checkout-img{
    width: 100%;
}

.checkout-item-name{
    color: rgb(129, 130, 134);
    font-family: 'PTSerif-Regular';
    font-size: 16px;
    margin-left: 20px;
}

.checkout-item-name{
    display: flex;
    align-items: center;
}

.checkout-item-qt{
    color: #998067;
    font-family: 'PTSerif-Regular';
    font-size: 16px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.checkout-item-price{
    color: #998067;
    font-family: 'PTSerif-Regular';
    font-size: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.expand-option{
    height: 121px;
}

.checkout-horizontal-divider{
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 80px;
}

.partial-znesek{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parial-paragraph{
    font-size: 24px;
    color: white;
    font-family: 'PTSerif-Regular';

}

.final-price2{
    color: #998067;
    font-size: 24px;
    font-family: 'PTSerif-Regular';
}

.checkout-horizontal-divider2{
    width: 100%;
    height: 3px;
    background-color: white;
}

.parial-paragraph3{
    font-size: 32px;
    color: white;
    font-family: 'PTSerif-Regular';
}

.final-price3{
    color: #998067;
    font-size: 32px;
    font-family: 'PTSerif-Regular';
}

.buy-button{
    width: 100%;
    height: 80px;
    background-color: #998067;
    border: 1px solid #998067;
    border-radius: 0px;
    font-size: 24px;
    font-family: 'PTSerif-Regular';
    margin-top: 48px;
}

.buy-button:hover{
    width: 100%;
    height: 80px;
    background-color: black;
    cursor: pointer;
    color: white;
    border: 1px solid #998067;
    border-radius: 0px;
    font-size: 24px;
    font-family: 'PTSerif-Regular';
    margin-top: 48px;
}

.error-message{
    color: #FF6B6B;
}

#dostavaOption3{
    width: 16px;
    padding: 0px;
    margin-bottom: 0px;
}

.pogoji-poslovanja-div{
    display: flex;
    align-items: center;
}

.pogoji-paragraph{
    color: rgb(129, 130, 134);
    margin-left: 12px;
}

.pogoji-paragraph-underline{
    color: rgb(129, 130, 134);
    margin-left: 4px;
    text-decoration: underline;
    cursor: pointer;
}

.pogoji-paragraph-underline:hover{
    color: white;
}

@media (max-width: 1000px) {
    .checkout-wrapper {
        width: 100%;
        margin-left: 0%;
        margin-top: 148px;
    }
}

@media (max-width: 850px) {
    .vertical-divider{
        width: 0px;
    }

    .checkout-divider{
        flex-direction: column;
    }

    .checkout-left{
        width: 100%;
    }

    .checkout-right{
        width: 100%;
    }

    .checkout-wrapper{
        margin-top: 100px;
    }
}

@media (max-width: 550px) {
    .customer-data-container{
        width: 90%;
    }

    .narocilo-wrapper{
        width: 90%;
    }

    .input-row{
        flex-direction: column;
    }

    .label-wrapper2{
        width: 100%;
    }

    .input-container2 input{
        width: 100%;
    }
}