@font-face {
  font-family: 'PTSerif-Regular';
  src: url('./Resources/Fonts/PTSerifProRg.OTF') format('woff2');
}

@font-face {
  font-family: 'PTSerif-Bold';
  src: url('./Resources/Fonts/PTSerifProBold.OTF') format('woff2');
}

body {
  margin: 0;
  font-family: 'PTSerif-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
