@font-face {
  font-family: 'PTSerif-Regular';
  src: url('./Resources/Fonts/PTSerifProRg.OTF') format('woff2');
}

@font-face {
  font-family: 'PTSerif-Bold';
  src: url('./Resources/Fonts/PTSerifProBold.OTF') format('woff2');
}

body {
  margin: 0;
  font-family: 'PTSerif-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(54, 55, 60);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(24,25,30);
}